:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  --_calendar-text-muted: hsl(240, 2%, 49%, 0.3);
  --_calendar-border-color: #b8c0c5;
  --_calendar-white: #ffffff;
  --_calendar-black: hsl(0, 5%, 9%);
  --_calendar-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  --_calendar-border-radius: 50px;
  --_calendar-light-grey: hsl(0, 0%, 94%);
  --_calendar-lightest-grey: #f5f5f5;
  --_calendar-border-active-end: 0 4px 4px 0;
  --_calendar-border-active-begin: 4px 0 0 4px;
  --_calendar-inactive: hsl(0, 0%, 94%, 0.5);
}

body:global(.dark-mode) {
  --_calendar-black: #ffffff;
  --_calendar-border-color: #c4c4c4d5;
  --_calendar-white: hsl(0, 5%, 9%);
  --_calendar-lightest-grey: hsl(0, 0%, 15%);
  --_calendar-shadow: none;
  --_calendar-text-muted: hsla(0, 0%, 79%, 0.3);
  --_calendar-inactive: hsl(0, 2%, 18%);
  --_calendar-light-grey: hsl(0, 2%, 29%);
}

/* animations */

.transition-colors {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* module */

.calendar-container {
  user-select: none;
  height: 20rem;
  width: 16rem;
  background-color: var(--_calendar-white);
  border: 0.7px solid var(--_ash-grey);
  box-shadow: var(--_calendar-shadow);
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  color: var(--_calendar-black);
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.calendar-container__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
}

.calendar-container__buttons > span {
  font-size: 0.9rem;
  display: flex;
  align-items: end;
  text-align: center;
  font-weight: 500;
}

.calendar-container__table-container {
  width: 100%;
  height: 100%;
}

.calendar-container__title {
  width: 8rem;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.calendar-container__button {
  all: unset;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  border: 1px solid var(--_calendar-border-color);
  opacity: 0.6;
  cursor: pointer;
  height: 1.4rem;
  width: 1.4rem;
  display: flex;
  justify-content: center;
}

.calendar-container__button:hover {
  opacity: 100;
  background-color: hsla(0, 0%, 90%, 0.55);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.calendar-container__button:hover > svg {
  color: var(--_calendar-black);
}

.calendar-container__table {
  height: 100% !important;
  border-collapse: collapse !important;
  border-spacing: 0px !important;
  box-sizing: content-box !important;
  width: 100% !important;
}

.calendar-t-head {
  color: var(--_calendar-text-muted);
}

.calendar-t-head__header {
  font-size: small;
  font-weight: 500;
}

.calendar-t-body__table {
  font-size: small;
  animation: fadeIn ease 300ms;
}

.calendar-t-body__table-data:first-child > button {
  border-radius: var(--_calendar-border-active-begin);
}

.calendar-t-body__table-data:last-child > button {
  border-radius: var(--_calendar-border-active-end);
}

.calendar-t-body__table-data {
  cursor: pointer;
  text-align: center;
  width: 2rem !important;
  height: 2rem !important;
  padding: 0;
  margin: 0;
}

.calendar-t-body__table-data--today {
  height: 2rem !important;
  border-radius: 4px !important;
  background-color: var(--_calendar-light-grey) !important;
}

.calendar-t-body__table-data > button:hover {
  background-color: var(--_calendar-light-grey);
  border-radius: 4px;
  height: 2rem;
}

.calendar-t-body__table-data > button {
  all: unset;
  height: 100%;
  width: 100%;
  text-align: center;
}

.calendar-t-body__table-data > button[aria-disabled='true'] {
  color: var(--_calendar-text-muted);
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.calendar-t-body__table-data > button[aria-disabled='true']:hover {
  color: var(--_calendar-text-muted);
  height: 2rem;
  width: 100%;
  background-color: transparent;
}

.calendar-t-body__table-data--deactivate > button[aria-disabled='true']:hover {
  height: 2rem;
  width: 100%;
  background-color: transparent;
}

.calendar-t-body__table-data--active {
  border-radius: 4px !important;
}

.calendar-t-body__table-data--active > button:hover {
  background-color: var(--_calendar-black);
}

.calendar-container-range {
  user-select: none;
  transition: background-color 0.3s ease-in-out;
  width: 30.375rem;
  height: 23rem;
  display: flex;
  border-radius: 4px;
  border: 1px solid var(--_calendar-border-color);
  flex-direction: column;
  background-color: var(--_calendar-white);
}

.calendar-container-range__range_wrapper {
  display: flex;
  height: 19rem;
}

.calendar-container-range__container {
  height: 100%;
  width: 15rem;
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  border-radius: 0.3rem;
  background-color: var(--_calendar-white);
  transition: background-color 0.3s ease-in-out;
}

.calendar-handler-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-handler-container__buttons_container {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  align-items: center;
  height: 2.9rem;
}

.calendar-t-body__table-data--range > button {
  background-color: var(--_calendar-light-grey);
  width: 100%;
  height: 2rem;
}

.calendar-t-body__table-data--range > button[aria-disabled='true'] {
  background-color: var(--_calendar-inactive);
  width: 100%;
  height: 2rem;
}
.calendar-t-body__table-data--range > button[aria-disabled='true']:hover {
  background-color: var(--_calendar-light-grey);
  width: 100%;
  height: 2rem;
  border: 0;
  border-radius: 4px;
}

.calendar-t-body__table-data--active > button {
  color: var(--_calendar-white);
  width: 100%;
  height: 2rem;
  background-color: var(--_calendar-black) !important;
  animation: fadeIn ease 300ms;
  border-radius: 4px;
  border: none;
}

.calendar-t-body__table-data--active.calendar-t-body__table-data--deactivate
  > button {
  background-color: var(--_calendar-lightest-grey) !important;
  border-radius: 4px;
  width: 100%;
}

.calendar-t-body__table-data--active > button[aria-disabled='true'] {
  border-radius: 0;
  height: 2rem;
  border-radius: 4px;
  border: none;
}

.calendar-t-body__table-data--begin > button {
  border-radius: var(--_calendar-border-active-begin) !important;
}

.calendar-t-body__table-data--begin > button:hover {
  border-radius: var(--_calendar-border-active-begin) !important;
}

.calendar-t-body__table-data--end > button {
  border-radius: var(--_calendar-border-active-end) !important;
}

.calendar-t-body__table-data--end > button:hover {
  border-radius: var(--_calendar-border-active-end) !important;
}

.calendar-t-body__table-data--normal > button {
  border-radius: 4px !important;
}
